[Desktop Entry]
Name=Norway

X-KDE-PluginInfo-Name=Norway
X-KDE-PluginInfo-Author=Daniel Mirlea
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
