[Desktop Entry]
Name=Road

X-KDE-PluginInfo-Name=Road
X-KDE-PluginInfo-Author=Paul Carmona
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
