[Desktop Entry]
Name=Bulgaria

X-KDE-PluginInfo-Name=Bulgaria
X-KDE-PluginInfo-Author=Aurel Manea
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
