[Desktop Entry]
Name=China

X-KDE-PluginInfo-Name=China
X-KDE-PluginInfo-Author=Zetong Li
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
