[Desktop Entry]
Name=Bubble

X-KDE-PluginInfo-Name=Bubble
X-KDE-PluginInfo-Author=Erik Skof
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
