[Desktop Entry]
Name=Tennis

X-KDE-PluginInfo-Name=Tennis
X-KDE-PluginInfo-Author=Erwan Hesry
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
