[Desktop Entry]
Name=Pink

X-KDE-PluginInfo-Name=Pink
X-KDE-PluginInfo-Author=W
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
