[Desktop Entry]
Name=Shingles

X-KDE-PluginInfo-Name=Shingles
X-KDE-PluginInfo-Author=Roger Bradshaw
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
