[Desktop Entry]
Name=Moon

X-KDE-PluginInfo-Name=Moon
X-KDE-PluginInfo-Author=Zhang Kaiyv
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
