[Desktop Entry]
Name=Retro

X-KDE-PluginInfo-Name=Retro
X-KDE-PluginInfo-Author=Lorenzo Herrera
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
