[Desktop Entry]
Name=Cracked

X-KDE-PluginInfo-Name=Cracked
X-KDE-PluginInfo-Author=Luis Villasmil
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
