[Desktop Entry]
Name=Sparkling

X-KDE-PluginInfo-Name=Sparkling
X-KDE-PluginInfo-Author=Marek Piwnicki
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
