[Desktop Entry]
Name=Interior Design

X-KDE-PluginInfo-Name=Interior Design
X-KDE-PluginInfo-Author=Bilal Mansuri
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
