[Desktop Entry]
Name=Calm

X-KDE-PluginInfo-Name=Calm
X-KDE-PluginInfo-Author=Mohamed Nohassi
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
