[Desktop Entry]
Name=Greece

X-KDE-PluginInfo-Name=Greece
X-KDE-PluginInfo-Author=Jonathan Gallegos
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
