[Desktop Entry]
Name=Italy

X-KDE-PluginInfo-Name=Italy
X-KDE-PluginInfo-Author=Julius Rinke
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
