[Desktop Entry]
Name=India

X-KDE-PluginInfo-Name=India
X-KDE-PluginInfo-Author=Navi
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
