[Desktop Entry]
Name=Red Mountain

X-KDE-PluginInfo-Name=Red Mountain
X-KDE-PluginInfo-Author=Mohamed Nohassi
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
