[Desktop Entry]
Name=Dubai

X-KDE-PluginInfo-Name=Dubai
X-KDE-PluginInfo-Author=Tim Gouw
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
