[Desktop Entry]
Name=Hepatica

X-KDE-PluginInfo-Name=Hepatica
X-KDE-PluginInfo-Author=Vanessa Friedl
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
