[Desktop Entry]
Name=Sicily

X-KDE-PluginInfo-Name=Sicily
X-KDE-PluginInfo-Author=Samuel Ferrara
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
