[Desktop Entry]
Name=Computer Art

X-KDE-PluginInfo-Name=Computer Art
X-KDE-PluginInfo-Author=Steve Johnson
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
