[Desktop Entry]
Name=Vietnam

X-KDE-PluginInfo-Name=Vietnam
X-KDE-PluginInfo-Author=Nguyen Dang Hoang Nhu
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
