[Desktop Entry]
Name=Switzerland

X-KDE-PluginInfo-Name=Switzerland
X-KDE-PluginInfo-Author=Timon Studler
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
