[Desktop Entry]
Name=Rose

X-KDE-PluginInfo-Name=Rose
X-KDE-PluginInfo-Author=Pawel Czerwinski
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
