[Desktop Entry]
Name=Psychedelic

X-KDE-PluginInfo-Name=Psychedelic
X-KDE-PluginInfo-Author=Sean Sinclair
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
