[Desktop Entry]
Name=Orchid

X-KDE-PluginInfo-Name=Orchid
X-KDE-PluginInfo-Author=Bruno Fantinatti
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
