[Desktop Entry]
Name=Santorini

X-KDE-PluginInfo-Name=Santorini
X-KDE-PluginInfo-Author=Raphael Lopes
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
