[Desktop Entry]
Name=Digital Stream

X-KDE-PluginInfo-Name=Digital Stream
X-KDE-PluginInfo-Author=Marek Piwnicki
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
