[Desktop Entry]
Name=Morocco

X-KDE-PluginInfo-Name=Morocco
X-KDE-PluginInfo-Author=Mohamed Nohassi
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
