[Desktop Entry]
Name=Smoke

X-KDE-PluginInfo-Name=Smoke
X-KDE-PluginInfo-Author=Marek Piwnicki
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
