[Desktop Entry]
Name=Estonia

X-KDE-PluginInfo-Name=Estonia
X-KDE-PluginInfo-Author=Kazuki Taira
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
