[Desktop Entry]
Name=Temple

X-KDE-PluginInfo-Name=Temple
X-KDE-PluginInfo-Author=Zhang Kaiyv
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
