[Desktop Entry]
Name=Winding Road

X-KDE-PluginInfo-Name=Winding Road
X-KDE-PluginInfo-Author=Calin Stan
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
