[Desktop Entry]
Name=Romania

X-KDE-PluginInfo-Name=Romania
X-KDE-PluginInfo-Author=Daniel Mirlea
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
