[Desktop Entry]
Name=Japan

X-KDE-PluginInfo-Name=Japan
X-KDE-PluginInfo-Author=Masahiro Miyagi
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
