[Desktop Entry]
Name=Skiing

X-KDE-PluginInfo-Name=Skiing
X-KDE-PluginInfo-Author=Valentin B. Kremer
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
