[Desktop Entry]
Name=Orketal

X-KDE-PluginInfo-Name=Orketal
X-KDE-PluginInfo-Author=Evgeni Tcherkasski
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
