[Desktop Entry]
Name=3D Render

X-KDE-PluginInfo-Name=3D Render
X-KDE-PluginInfo-Author=Pawel Czerwinski
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
