[Desktop Entry]
Name=Stripes

X-KDE-PluginInfo-Name=Stripes
X-KDE-PluginInfo-Author=Constantin
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
