[Desktop Entry]
Name=San Francisco

X-KDE-PluginInfo-Name=San Francisco
X-KDE-PluginInfo-Author=Zetong Li
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
