[Desktop Entry]
Name=Red Dusk

X-KDE-PluginInfo-Name=Red Dusk
X-KDE-PluginInfo-Author=Marek Piwnicki
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
