[Desktop Entry]
Name=Cladding

X-KDE-PluginInfo-Name=Cladding
X-KDE-PluginInfo-Author=Tim Mossholder
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
