[Desktop Entry]
Name=Path

X-KDE-PluginInfo-Name=Path
X-KDE-PluginInfo-Author=Timon Studler
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
