[Desktop Entry]
Name=Miksang

X-KDE-PluginInfo-Name=Miksang
X-KDE-PluginInfo-Author=Denise Bossarte
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
