[Desktop Entry]
Name=Field

X-KDE-PluginInfo-Name=Field
X-KDE-PluginInfo-Author=Marek Piwnicki
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
