[Desktop Entry]
Name=Purple

X-KDE-PluginInfo-Name=Purple
X-KDE-PluginInfo-Author=Fakurian Design
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
