[Desktop Entry]
Name=Tree

X-KDE-PluginInfo-Name=Tree
X-KDE-PluginInfo-Author=Jan Huber
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
