[Desktop Entry]
Name=Slovenia

X-KDE-PluginInfo-Name=Slovenia
X-KDE-PluginInfo-Author=Ales Krivec
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
