[Desktop Entry]
Name=Blue Lines

X-KDE-PluginInfo-Name=Blue Lines
X-KDE-PluginInfo-Author=Constantin
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
