[Desktop Entry]
Name=Mount Baker

X-KDE-PluginInfo-Name=Mount Baker
X-KDE-PluginInfo-Author=Patrick Fore
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=
